<launch>
  <!-- Launches the fpga_proxy node with suitable params -->
  <node name="fpga_proxy" pkg="hailfire_drivers" type="fpga_proxy" required="true" output="screen">
<!--     <param name="spidev/inhibit" type="bool" value="true"/> -->
    <param name="spidev/dev_name" type="str" value="/dev/spidev1.0"/>
<!--     <param name="spidev/mode" type="int" value="0"/> -->
<!--     <param name="spidev/lsb_first" type="bool" value="false"/> -->
<!--     <param name="spidev/bits_per_word" type="int" value="8"/> -->
<!--     <param name="spidev/max_speed" type="int" value="48000000"/> -->
  </node>
</launch>
